[run]
branch = True
source = clld_glottologfamily_plugin

[paths]
source =
    src/clld_glottologfamily_plugin
    .tox/*/lib/python*/site-packages/clld_glottologfamily_plugin

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    tests/*
show_missing = True

